/*1) Crie uma página simples de Blog respeitando a semântica dos elementos.
Nessa página inicial deve haver uma lista de postagens (como cards) do blog, com imagem, título da postagem.

Inspirações (não obrigatório seguir):
  - https://cdn.dribbble.com/users/1415337/screenshots/14131665/blog_article_cards_html_css_tutorial__1__4x.png
  - https://i.ytimg.com/vi/KsjOTQsvDZ0/maxresdefault.jpg

Paletas: 
https://coolors.co/
*/

body{
  background-color: 100vh;
  padding: 20px;
  margin: 50px;
}

.container {
  width: 80%;
  height: max-content;
  padding: 20px 15px 20px 15px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
}

#card1 , #card2 , #card3 {
  width: auto;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: justify;
  font-size: medium;
}

#card1 :hover{
  background-color: #99D98C;
}

#card2 :hover{
  background-color: #99D98C;
}

#card3 :hover{
  background-color: #99D98C;
}

.card-footer{
  width: 100%;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: 100vh;
  font-size: 16px;
}
.card-footer:hover{
  cursor: pointer;
}

img{
  height: 30vh;
  width: 100vh;
}

.navbar-brand{
  background-color: #99D98C;
}