*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger; 
}
h1{
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    margin-top: 85px;
}
body{
    color: black;
    background-image: url(https://cdn.shopify.com/s/files/1/1432/0090/products/M00F87_40cm.jpg?v=1498786058);
    background-position: right;
    background-repeat: repeat-y;
    background-color: black;
}
.card{
    border-style: double;
    border-color: white;
    background-color: white;
    border-radius: 1cm;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 110px;
    margin: 150px;
    width: 800px;
    transition: all 0.3s ease-out;
}
button{
    text-align: center;
    color: white;
    border-radius: 5px;
    background-color: black;
    width: 200px;
}
button:hover{
    border-style: dotted;
    color: black;
    font-style: bolder;
    cursor: pointer;
    background-color: white;
}
footer{
    color: white;
}