*{
    text-align: center;
    vertical-align: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10cm;
    text-align: center;
    margin: auto;
}
.h1{
    background-color: none;
    margin: 0% 0%,
}
input:hover{
    border-style: outset;
}
table{
    margin: auto;
    font-size: larger;
}
th{
    border-style: none;
    border-radius: 0%;
    background-color: rgba(245, 245, 66, 0.842);
    text-align: center;
}
td{
    border-style: none;
    border-radius: 0%;
    background-color: rgba(112, 211, 236, 0.842);
    text-align: center;
}